@font-face {
    font-family: proximaNova;
    src: url(../fonts/ProximaNova-Regular.otf);
  }
  @font-face {
    font-family: proximaNova;
    src: url(../fonts/ProximaNova-Regular.otf);
  }
/*------------------------------------
  Paddings
------------------------------------*/
.p-0 {padding:0px !important;}
.p-10 {padding:10px !important;}
.p-15 {padding:15px !important;}
.p-20 {padding:20px !important;}
.p-25 {padding:25px !important;}
.p-30 {padding:30px !important;}
.p-35 {padding:35px !important;}
.p-40 {padding:40px !important;}
.p-50 {padding:50px !important;}
.p-60 {padding:60px !important;}

.p-top-0 {padding-top:0px !important;}
.p-top-5 {padding-top:5px !important;}
.p-top-10 {padding-top:10px !important;}
.p-top-15 {padding-top:15px !important;}
.p-top-20 {padding-top:20px !important;}
.p-top-25 {padding-top:25px !important;}
.p-top-30 {padding-top:30px !important;}
.p-top-35 {padding-top:35px !important;}
.p-top-40 {padding-top:40px !important;}
.p-top-50 {padding-top:50px !important;}
.p-top-60 {padding-top:60px !important;}

.p-right-0 {padding-right:0px !important;}
.p-right-5 {padding-right:5px !important;}
.p-right-10 {padding-right:10px !important;}
.p-right-15 {padding-right:15px !important;}
.p-right-20 {padding-right:20px !important;}
.p-right-25 {padding-right:25px !important;}
.p-right-30 {padding-right:30px !important;}
.p-right-35 {padding-right:35px !important;}
.p-right-40 {padding-right:40px !important;}

.p-bottom-0 {padding-bottom:0px !important;}
.p-bottom-5 {padding-bottom:5px !important;}
.p-bottom-10 {padding-bottom:10px !important;}
.p-bottom-15 {padding-bottom:15px !important;}
.p-bottom-20 {padding-bottom:20px !important;}
.p-bottom-25 {padding-bottom:25px !important;}
.p-bottom-30 {padding-bottom:30px !important;}
.p-bottom-35 {padding-bottom:35px !important;}
.p-bottom-40 {padding-bottom:40px !important;}

.p-left-0 {padding-left:0px !important;}
.p-left-5 {padding-left:5px !important;}
.p-left-10 {padding-left:10px !important;}
.p-left-15 {padding-left:15px !important;}
.p-left-20 {padding-left:20px !important;}
.p-left-25 {padding-left:25px !important;}
.p-left-30 {padding-left:30px !important;}
.p-left-35 {padding-left:35px !important;}
.p-left-40 {padding-left:40px !important;}

/*------------------------------------
  Margins
------------------------------------*/
.m-0 {margin:0px !important;}
.m-top-0 {margin-top:0px !important;}
.m-top-2 {margin-top:2px !important;}
.m-top-5 {margin-top:5px !important;}
.m-top-8 {margin-top:8px !important;}
.m-top-10 {margin-top:10px !important;}
.m-top-15 {margin-top:15px !important;}
.m-top-20 {margin-top:20px !important;}
.m-top-25 {margin-top:25px !important;}
.m-top-30 {margin-top:30px !important;}
.m-top-35 {margin-top:35px !important;}
.m-top-40 {margin-top:40px !important;}

.m-right-0 {margin-right:0px !important;}
.m-right-5 {margin-right:5px !important;}
.m-right-10 {margin-right:10px !important;}
.m-right-15 {margin-right:15px !important;}
.m-right-20 {margin-right:20px !important;}
.m-right-25 {margin-right:25px !important;}
.m-right-30 {margin-right:30px !important;}
.m-right-35 {margin-right:35px !important;}
.m-right-40 {margin-right:40px !important;}

.m-bottom-0 {margin-bottom:0px !important;}
.m-bottom-5 {margin-bottom:5px !important;}
.m-bottom-10 {margin-bottom:10px !important;}
.m-bottom-15 {margin-bottom:15px !important;}
.m-bottom-20 {margin-bottom:20px !important;}
.m-bottom-25 {margin-bottom:25px !important;}
.m-bottom-30 {margin-bottom:30px !important;}
.m-bottom-35 {margin-bottom:35px !important;}
.m-bottom-40 {margin-bottom:40px !important;}

.m-left-0 {margin-left:0px !important;}
.m-left-5 {margin-left:5px !important;}
.m-left-10 {margin-left:10px !important;}
.m-left-15 {margin-left:15px !important;}
.m-left-20 {margin-left:20px !important;}
.m-left-25 {margin-left:25px !important;}
.m-left-30 {margin-left:30px !important;}
.m-left-45 {margin-left:35px !important;}
.m-left-50 {margin-left:40px !important;}

/*------------------------------------
  Max width
------------------------------------*/
.max-w-50 {max-width:50px;}
.max-w-80 {max-width:80px;}
.max-w-100 {max-width:100px;}
.max-w-150 {max-width:150px;}
.max-w-200 {max-width:200px;}
.max-w-250 {max-width:250px;}
.max-w-300 {max-width:300px;}

/*------------------------------------
  Min width
------------------------------------*/
.min-w-50 {min-width:50px;}
.min-w-80 {min-width:80px;}
.min-w-100 {min-width:100px;}
.min-w-150 {min-width:150px;}
.min-w-200 {min-width:200px;}
.min-w-250 {min-width:250px;}
.min-w-300 {min-width:300px;}

/*------------------------------------
  Font Sizes
------------------------------------*/
.f-11 {font-size:11px;}
.f-12 {font-size:12px;}
.f-13 {font-size:13px;}
.f-14 {font-size:14px;}
.f-15 {font-size:15px;}
.f-16 {font-size:16px;}
.f-18 {font-size:18px;}
.f-20 {font-size:20px;}
.f-24 {font-size:24px;}
.f-28 {font-size:28px;}
.f-30 {font-size:30px;}
.f-32 {font-size:32px;}
.f-36 {font-size:36px;}
.f-42 {font-size:42px;}
.f-64 {font-size:64px;}

/*------------------------------------
  Font Weights
------------------------------------*/
.fw-500 {font-weight:500;}
.fw-600 {font-weight:600;}
.fw-700 {font-weight:700;}
.fw-800 {font-weight:800;}
.fw-900 {font-weight:900;}
  
/*
 * HS Mega Menu - jQuery Plugin
 * @version: 1.0.0 (Sun, 26 Feb 2017)
 *
 * @license:
 *
 * Copyright 2017 HtmlStream
 *
 */

.hs-menu-initialized {
    position: relative;
    z-index: 10;
}

.hs-menu-initialized .animated {
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
}

.hs-overflow-x-locked {
    overflow-x: hidden;
}

.hs-sub-menu,
.hs-mega-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 2;
    margin-top: -.002rem;
    visibility: hidden;
    background-color: #fff;
    opacity: 1 !important;
}

.hs-sub-menu-opened > .hs-sub-menu,
.hs-mega-menu-opened > .hs-mega-menu {
    visibility: visible;
    opacity: 1;
}

.hs-sub-menu {
    min-width: 180px;
}

.hs-has-sub-menu {
    /*overflow: hidden;*/
    position: relative;
}

.hs-sub-menu-opened {
    overflow: visible;
}

.hs-sub-menu .hs-sub-menu,
.hs-mega-menu .hs-sub-menu,
.hs-sub-menu .hs-mega-menu,
.hs-mega-menu .hs-mega-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
}

.hs-has-sub-menu > a::after {
    content: "\e900";
    font-family: "hs-icons" !important;
    font-size: 10px;
    display: inline;
    margin-left: 7px;
}

.hs-has-sub-menu .hs-has-sub-menu > a {
    position: relative;
}

.hs-has-sub-menu .hs-has-sub-menu > a::after {
    content: "\e902";
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: inherit;
    background: transparent !important;
}

/*------------------------------------
	Vertical Direction
------------------------------------*/

.hs-menu-vertical .hs-sub-menu,
.hs-menu-vertical .hs-mega-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
}

.hs-menu-vertical .hs-sub-menu {
    width: auto;
}

.hs-menu-vertical .hs-mega-menu {
    height: 100%;
}

/*------------------------------------
	Mobile state
------------------------------------*/

.hs-mobile-state .hs-sub-menu,
.hs-mobile-state .hs-mega-menu {
    position: static;
    visibility: visible;
}

.hs-mobile-state .hs-has-mega-menu[data-max-width] > .hs-mega-menu,
.hs-mobile-state .hs-has-sub-menu[data-max-width] > .hs-sub-menu {
    max-width: initial !important;
}

/*------------------------------------
	RTL
------------------------------------*/

.hs-menu-initialized.hs-rtl {
    direction: rtl;
    unicode-bidi: embed;
}

.hs-menu-initialized.hs-rtl .hs-sub-menu,
.hs-menu-initialized.hs-rtl .hs-mega-menu {
    left: auto;
    right: 0;
}

.hs-menu-initialized.hs-rtl .hs-sub-menu .hs-sub-menu,
.hs-menu-initialized.hs-rtl .hs-mega-menu .hs-sub-menu,
.hs-menu-initialized.hs-rtl .hs-sub-menu .hs-mega-menu,
.hs-menu-initialized.hs-rtl .hs-mega-menu .hs-mega-menu {
    left: auto;
    right: 100%;
}

/*------------------------------------
	Smart Position
------------------------------------*/

.hs-menu-initialized:not(.hs-mobile-state) .hs-sub-menu.hs-reversed,
.hs-menu-initialized:not(.hs-mobile-state) .hs-mega-menu.hs-reversed {
    left: auto;
    right: 0;
}

.hs-menu-initialized:not(.hs-mobile-state) .hs-sub-menu .hs-sub-menu.hs-reversed,
.hs-menu-initialized:not(.hs-mobile-state) .hs-mega-menu .hs-sub-menu.hs-reversed,
.hs-menu-initialized:not(.hs-mobile-state) .hs-sub-menu .hs-mega-menu.hs-reversed,
.hs-menu-initialized:not(.hs-mobile-state) .hs-mega-menu .hs-mega-menu.hs-reversed {
    left: auto;
    right: 100%;
}

.hs-menu-initialized.hs-rtl:not(.hs-mobile-state) .hs-sub-menu.hs-reversed,
.hs-menu-initialized.hs-rtl:not(.hs-mobile-state) .hs-mega-menu.hs-reversed {
    right: auto;
    left: 0;
}

.hs-menu-initialized.hs-rtl:not(.hs-mobile-state) .hs-sub-menu .hs-sub-menu.hs-reversed,
.hs-menu-initialized.hs-rtl:not(.hs-mobile-state) .hs-mega-menu .hs-sub-menu.hs-reversed,
.hs-menu-initialized.hs-rtl:not(.hs-mobile-state) .hs-sub-menu .hs-mega-menu.hs-reversed,
.hs-menu-initialized.hs-rtl:not(.hs-mobile-state) .hs-mega-menu .hs-mega-menu.hs-reversed {
    right: auto;
    left: 100%;
}

/*------------------------------------
	Positions
	(only 'horizontal' direction)
------------------------------------*/

.hs-menu-initialized.hs-menu-horizontal .hs-mega-menu.hs-position-left {
    left: 0;
    right: auto;
}

.hs-menu-initialized.hs-menu-horizontal .hs-mega-menu.hs-position-right {
    left: auto;
    right: 0;
}

.hs-menu-initialized.hs-menu-horizontal .hs-mega-menu.hs-position-center {
    right: auto;
    left: 50%;

    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.menu-seperator {border-bottom:1px solid #ecf6fb;}
/*------------------------------------
	Utilities
------------------------------------*/
.navbar-height-l {
    min-height:60px;
    padding-top:8px;
}
.navbar-height-r {
    min-height:60px;
    padding-top:14px;
}
.navbar-seperator {
    padding-left:8px;
    padding-right:8px;
}
.hr-seperator {
    width:40px;
    display:inline-block;
    position:relative;
    top:8px;
}
.text-white {color: #fff;}
.text-black {color: #242734;}
.text-pink {color: #c4197f;}
.bg-pink {background: #c4197f;}
.bg-blue {background: #0096d6;}
.bg-blue-lt {background: #eff6fc;}
.bg-white {background: #fff;}
.bg-grey {background:#242734;}
.text-green {color: #4fcc59;}
.text-grey {color: #92939a;}
.text-grey-l {color: #b9bdc0;}
.text-underline {text-decoration: underline !important;}

a.link-blue:link, a.link-blue:visited {color: #0096d6;}
a.link-blue:hover {color: #157ca8; text-decoration:none;}
a.link-pink:link, a.link-pink:visited {color: #c4197f;}
a.link-pink:hover {color: #c4197f; text-decoration:none;}
a.link-gray-l:link, a.link-gray-l:visited {color: #b9bdc0;}
a.link-gray-l:hover {color: #9ba1a5; text-decoration:none;}
a.link-white:link, a.link-white:visited {color: #fff !important; text-decoration:none;}
a.link-white:hover {color: #fafafa !important; text-decoration:none;}
a.link-black:link, a.link-black:visited {color: #242734; text-decoration:none;}
a.link-black:hover {color: #12141A; text-decoration:none;}
a.link-black-inactive:link, a.link-black-inactive:visited {color: #abadb2; text-decoration:none;}
a.link-black-inactive:hover {color: #84878c; text-decoration:none;}
a.menu-link:link, a.menu-link:visited {color: #242734; text-decoration:none;}
a.menu-link:hover {color: #12141A; text-decoration:none;}

.btg-1 {border-top:1px solid #979797;}
.brg-1 {border-right:1px solid #979797;}
.bbg-1 {border-bottom:1px solid #979797;}
.blg-1 {border-left:1px solid #979797;}

.btlg-1 {border-top:1px solid #eff6fc;}
.brlg-1 {border-right:1px solid #eff6fc;}
.bblg-1 {border-bottom:1px solid #eff6fc;}
.bllg-1 {border-left:1px solid #eff6fc;}
#leftmenu .leftmenu-nav li > a {
    color: #242734;
    text-decoration: none;
}
#leftmenu .leftmenu-nav li > a:hover, a:focus {
    color: #c4197f;
    text-decoration: none;
}

#leftmenu .leftmenu-nav li.active > a {
	color: #c4197f;
    text-decoration: none;
}
.badge-circle-green {
    font-size:12px;
    font-weight:600;
    color: #4fcc59;
    background-color: transparent;
    border: 1px solid #00d145;
    border-radius: 10px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: .2em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.badge-circle-orange {
    font-size:12px;
    font-weight:600;
    color: #f0b300;
    background-color: transparent;
    border: 1px solid #f0b300;
    border-radius: 10px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: .2em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.badge-circle-red {
    font-size:12px;
    font-weight:600;
    color: #dd434a;
    background-color: transparent;
    border: 1px solid #dd434a;
    border-radius: 10px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: .2em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.badge-circle-ghost {
    font-size:12px;
    font-weight:600;
    color: #242734;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: .2em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.badge-circle-ghost-position {
    position:absolute;
    left:25px;
    margin-top:10px;
    z-index: 10;
}
.target-blue {border:2px solid #0096d6; font-size:18px; padding:8px; font-weight:bold; margin-right:10px; margin-bottom:10px;}
.target-orange {border:2px solid #f0b300; font-size:18px; padding:8px; font-weight:bold; margin-right:10px;}
.target-green {border:2px solid #4fcc59; font-size:18px; padding:8px; font-weight:bold; margin-right:10px;}
.g-section-header {
    font-size:16px;
}
.t-white {color:#fff;}
.t-grey-l {color:#b9bdc0;}
.field-icon {
    float: right;
    margin-right: 15px;
    margin-top: -38px;
    position: relative;
    z-index: 2;
    color:#b9bdc0;
  }  
.event-counter-left {bottom:30px; left:30px;}
.event-counter-right {bottom:30px; right:15px;}
.event-edit {top:20px; right:35px;}
.event-counter-badge {width:50px; height:50px;}
.r-0 {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.rb-10 {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.rt-10 {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.r-10 {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}
.r-15 {
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
}
.rb-15 {
    -webkit-border-bottom-right-radius: 15px !important;
    -webkit-border-bottom-left-radius: 15px !important;
    -moz-border-radius-bottomright: 15px !important;
    -moz-border-radius-bottomleft: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}
.rt-15 {
    -webkit-border-top-left-radius: 15px !important;
    -webkit-border-top-right-radius: 15px !important;
    -moz-border-radius-topleft: 15px !important;
    -moz-border-radius-topright: 15px !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}
.r-999 {
    -webkit-border-radius: 999px !important;
    -moz-border-radius: 999px !important;
    border-radius: 999px !important;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #c4197f;
    border-radius: 7px;
    display: inline-block;
    padding-top:1px;
}
.dot-leftm {
    position:absolute;
    top:445px;
    left:44px;
}
.sec{
    position: relative;
    right: 9px;
    top:-6px;
    color:#fff;
    font-size:9px;
    font-weight: bold;
    text-align: center;
}
.sec-leftm{
    color:#fff;
    font-size:9px;
    font-weight: bold;
    text-align: center;
}
.dropdown-user {background:none;}
.radio-custom {
    opacity: 0;
    position: absolute;
}

.radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.radio-custom-label {
    position: relative;
    line-height:18px;
}
.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}
.radio-custom:checked + .radio-custom-label:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color:#319639;
}
.form-control {
    border-color:#e3e7eb;
    margin-bottom:10px;
    line-height: 50px;
    height:50px;
}
.form-control-slim {
    border-color:#e3e7eb;
    margin-bottom:10px;
    line-height: 32px;
    height:32px;
}
.form-control-c {
    border-color:#e3e7eb;
    margin-bottom:10px;
    line-height: 50px;
    height:50px;
}
.form-group-custom {
    height: 3em;
    margin: 1.5em 0;
    position: relative;
    width: 100%;
}
.form-group-custom input,
.form-group-custom label {
    cursor: text;
    font-weight: 200;
    position: absolute;
    transition: all 0.15s ease;
    width: 100%;
}
.form-group-custom input {
    border: 1px solid #e3e7eb;
    height: 50px;
    padding: 20px 20px 0;
    outline: none;
}
.form-group-custom label {
color: #b9bdc0;
font-weight: 400;
line-height: 50px;
padding: 0 20px;
}
.form-group-custom input.filled ~ label,
.form-group-custom input:focus ~ label {
    font-size: .9em;
    position: absolute;
    margin-top: -12px;
    color:#c4197f;
}
.fa-google-color {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat; 
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.fa-facebook-color {
    color:#1877f2;
}
.fa-twitter-color {
    color:#0096d6;
}
.fa-linkedin-color {
    color:#00a3d3;
}
.fa-whatsapp-color {
    color:#4fcc59;
}
.fa-envelope-color {
    color:#242734;
}
.fa-visa-color {
    color:#0353a5;
}
.fa-mastercard-color {
    color:#242734;
    background: rgb(255,1,31);
    background: linear-gradient(90deg, rgba(255,1,31,1) 0%, rgba(255,72,30,1) 45%, rgba(255,142,42,1) 100%);
    border:none;
    padding:0px;
    margin:0px;
    line-height:.8em;
}
.card-blue {background: #eff6fc; border:none;}
.card-noborder {border:none;}
.card-dashed {border-style: dashed;}
.star-gradient {
    color: #fdfa01;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d7a02b;
}
.seperator-gray {border-bottom:1px solid #e3e7eb;}
.nav-pills-active {
    background-color:#fff !important;
    border-bottom:1px solid #0096d6;
    color:#0096d6 !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
    font-weight: bold;
}
.nav-pills-passive {
    background:none;
    border-bottom:1px solid #b9bdc0;
    color:#b9bdc0;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
}
.bg-company {
    background-image: url("../../toptalent/img/cmn/bg-company-home.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    height:601px;
}
.bg-company-sample {
    background-image: url("../../toptalent/img/cmn/bg-company-firm.gif");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: left;
    height:564px;
}
/*------------------------------------
	Custom Switch Size & Color
------------------------------------*/
.custom-switch.custom-switch-sm .custom-control-label {
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.custom-switch.custom-switch-sm .custom-control-label::before {
    height: 1rem;
    width: calc(1rem + 0.75rem);
    border-radius: 2rem;
}
.custom-switch.custom-switch-sm .custom-control-label::after {
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    border-radius: calc(1rem - (1rem / 2));
}
.custom-switch.custom-switch-sm .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(1rem - 0.25rem));
}
/* for md */
.custom-switch.custom-switch-md .custom-control-label {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}
.custom-switch.custom-switch-md .custom-control-label::before {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
}
.custom-switch.custom-switch-md .custom-control-label::after {
    width: calc(1.5rem - 4px);
    height: calc(1.5rem - 4px);
    border-radius: calc(2rem - (1.5rem / 2));
}
.custom-switch.custom-switch-md .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(1.5rem - 0.25rem));
}
/* for lg */
.custom-switch.custom-switch-lg .custom-control-label {
    padding-left: 3rem;
    padding-bottom: 2rem;
}
.custom-switch.custom-switch-lg .custom-control-label::before {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}
.custom-switch.custom-switch-lg .custom-control-label::after {
    width: calc(2rem - 4px);
    height: calc(2rem - 4px);
    border-radius: calc(3rem - (2rem / 2));
}
.custom-switch.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(2rem - 0.25rem));
}
/* for xl */
.custom-switch.custom-switch-xl .custom-control-label {
    padding-left: 4rem;
    padding-bottom: 2.5rem;
}
.custom-switch.custom-switch-xl .custom-control-label::before {
    height: 2.5rem;
    width: calc(4rem + 0.75rem);
    border-radius: 5rem;
}
.custom-switch.custom-switch-xl .custom-control-label::after {
    width: calc(2.5rem - 4px);
    height: calc(2.5rem - 4px);
    border-radius: calc(4rem - (2.5rem / 2));
}
.custom-switch.custom-switch-xl .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(calc(2.5rem - 0.25rem));
}
.custom-control-input:focus ~  
.custom-control-label::before { 
      border-color: #0096d6 !important; 
      box-shadow:  0 0 0 0rem rgba(0, 0, 0, 0) !important; 
}
.custom-control-input:checked ~  
.custom-control-label::before { 
      border-color: #0096d6 !important; 
      background-color: #0096d6 !important; 
} 
.custom-control-input:active ~  
.custom-control-label::before { 
      background-color: #0096d6 !important; 
      border-color: #0096d6 !important; 
} 
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
      border-color: #0096d6 !important; 
}
.dropdown-menu-custom {
    background-color:#eff6fc !important;
    border:none;
}
/*------------------------------------
	Custom Modal
------------------------------------*/
.modal-content-right {height:100%; border-radius:0px; padding:40px;}
/*------------------------------------
	Custom Buttons
------------------------------------*/
.btn {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}
.btn-xl {
    padding: .8rem 3rem !important;
    font-size: 1.2rem !important;
    line-height: 1.5 !important;
}
.btn-ghost {
    color: #242734;
    background: #fff;
    border: solid 1px #e3e7eb;
    padding: 5px 10px 5px 10px;
}
.btn-ghost:hover, .btn-ghost:focus, .btn-ghost:active, .btn-ghost.active, .open>.dropdown-toggle.btn-ghost {
    color: #242734;
    background: #fff;
    border: solid 1px #8b8b8b;
    padding: 5px 10px 5px 10px;
}
.btn-blue {
    background-color:#0096d6;
    color:#fff;
    padding: 5px 10px 5px 10px;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open>.dropdown-toggle.btn-blue {
    background-color: #006c9a;
    color: #fff;
    padding: 5px 10px 5px 10px;
}
.btn-blue-lt {
    background-color:#eff6fc;
    color:#242734;
    padding: 5px 10px 5px 10px;
}
.btn-blue-dropdown:hover, .btn-blue-dropdown:focus, .btn-blue-dropdown:active, .btn-blue-dropdown.active, .open>.dropdown-toggle.btn-blue-dropdown {
    background-color: #eff6fc;
    color:#242734;
    padding: 5px 10px 5px 10px;
}
.btn-blue-dropdown {
    background-color:#eff6fc;
    color:#242734;
    padding: 5px 10px 5px 10px;
}
.btn-blue-lt:hover, .btn-blue-lt:focus, .btn-blue-lt:active, .btn-blue-lt.active, .open>.dropdown-toggle.btn-blue-lt {
    background-color: #dbe3ea;
    color:#242734;
    padding: 5px 10px 5px 10px;
}
.btn-pink {
    background-color:#c4197f;
    color:#fff;
    padding: 5px 10px 5px 10px;
}
.btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active, .open>.dropdown-toggle.btn-pink {
    background-color: #991363;
    color: #fff;
    padding: 5px 10px 5px 10px;
}
.btn-green {
    background-color:#4fcc59;
    color:#fff;
    padding: 5px 10px 5px 10px;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open>.dropdown-toggle.btn-green {
    background-color: #319639;
    color: #fff;
    padding: 5px 10px 5px 10px;
}
.btn-grey-lt {
    background-color:#e3e7eb;
    color:#021c33;
    padding: 5px 10px 5px 10px;
}
.btn-grey-lt:hover, .btn-grey-lt:focus, .btn-grey-lt:active, .btn-grey-lt.active, .open>.dropdown-toggle.btn-grey-lt {
    background-color: #e3e7eb;
    color: #021c33;
    padding: 5px 10px 5px 10px;
}

/*------------------------------------
	Custom Container
------------------------------------*/
.container-blue-lt {
    background:#eff6fc;
}
.container-grey {
    background:#242734;
}
.container-pink {
    background:#c4197f;
}

/*------------------------------------
	Responsive Utilities
------------------------------------*/
@media (max-width: 575.98px) {
    .modal-dialog-right {
        margin: 0px;
        float: right;
        top: 0px;
        position: absolute;
        right: 0px;
        width: 100%;
        min-width:300px;
        height: 100% !important;
    }
    .modal-dialog-height {max-height: 100% !important;}
    .badge-event {
        width:120px;
        height:50px;
        line-height:40px;
    }    
    .card-position-150 {position:relative; top:-150px;}
    .card-position-190 {position:relative; top:-150px;}
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .modal-dialog-right {
        margin: 0px;
        float: right;
        top: 0px;
        position: absolute;
        right: 0px;
        width: 60%;
        min-width:300px;
        height: 100% !important;
    }
    .modal-dialog-height {max-height: 100% !important;}
    .badge-event {
        width:120px;
        height:50px;
        line-height:40px;
    }    
    .card-position-150 {position:relative; top:-150px;}
    .card-position-190 {position:relative; top:-190px;}
    .r-left-0 {
        -webkit-border-top-left-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        -moz-border-radius-topleft: 0px !important;
        -moz-border-radius-bottomleft: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .r-right-0 {
        -webkit-border-top-right-radius: 0px !important;
        -webkit-border-bottom-right-radius: 0px !important;
        -moz-border-radius-topright: 0px !important;
        -moz-border-radius-bottomright: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .target-seperator {border-left:1px solid #fff;}
    .modal-dialog-right {
        margin: 0px;
        float: right;
        top: 0px;
        position: absolute;
        right: 0px;
        width: 50%;
        min-width:300px;
        height: 100% !important;
    }
    .modal-dialog-height {max-height: 100% !important;}
    .badge-event {
        width:155px;
        height:50px;
        line-height:40px;
    }
    .card-position-150 {position:relative; top:-150px;}
    .card-position-190 {position:relative; top:-190px;}
    .r-left-0 {
        -webkit-border-top-left-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        -moz-border-radius-topleft: 0px !important;
        -moz-border-radius-bottomleft: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .r-right-0 {
        -webkit-border-top-right-radius: 0px !important;
        -webkit-border-bottom-right-radius: 0px !important;
        -moz-border-radius-topright: 0px !important;
        -moz-border-radius-bottomright: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .row-padding {
        padding-left: 10px;
        padding-right: 10px;
    }
    .target-seperator {border-left:1px solid #fff;}
    .modal-dialog-right {
        margin: 0px;
        float: right;
        top: 0px;
        position: absolute;
        right: 0px;
        width: 40%;
        min-width:300px;
        height: 100% !important;
    }
    .modal-dialog-height {max-height: 100% !important;}
    .badge-event {
        width:155px;
        height:50px;
        line-height:40px;
    }    
    .card-position-150 {position:relative; top:-150px;}
    .card-position-190 {position:relative; top:-190px;}
    .r-left-0 {
        -webkit-border-top-left-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        -moz-border-radius-topleft: 0px !important;
        -moz-border-radius-bottomleft: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .r-right-0 {
        -webkit-border-top-right-radius: 0px !important;
        -webkit-border-bottom-right-radius: 0px !important;
        -moz-border-radius-topright: 0px !important;
        -moz-border-radius-bottomright: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    
}
@media (min-width: 1200px) and (max-width: 1599.98px) {
    .row-padding {
        padding-left: 40px;
        padding-right: 40px;
    }
    .reset-padding-l {
        padding-left: 0px;
    }
    .reset-padding-r {
        padding-right: 0px;
    }
    .secondary-header {
        padding-top:40px;
    }
    .target-seperator {border-left:1px solid #fff;}
    .modal-dialog-right {
        margin: 0px;
        float: right;
        top: 0px;
        position: absolute;
        right: 0px;
        width: 30%;
        min-width:300px;
        height: 100% !important;
    }
    .modal-dialog-height {max-height: 100% !important;}
    .badge-event {
        width:185px;
        height:60px;
        line-height:50px;
    }
    .card-position-150 {position:relative; top:-150px;}
    .card-position-190 {position:relative; top:-190px;}
    .r-left-0 {
        -webkit-border-top-left-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        -moz-border-radius-topleft: 0px !important;
        -moz-border-radius-bottomleft: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .r-right-0 {
        -webkit-border-top-right-radius: 0px !important;
        -webkit-border-bottom-right-radius: 0px !important;
        -moz-border-radius-topright: 0px !important;
        -moz-border-radius-bottomright: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    
}
@media (min-width: 1600px) {
    .row-padding {
        padding-left: 40px;
        padding-right: 40px;
    }
    .reset-padding-l {
        padding-left: 0px;
    }
    .reset-padding-r {
        padding-right: 0px;
    }
    .secondary-header {
        padding-top:40px;
    }
    .target-seperator {border-left:1px solid #fff;}
    .modal-dialog-right {
        margin: 0px;
        float: right;
        top: 0px;
        position: absolute;
        right: 0px;
        width: 30%;
        min-width:300px;
        height: 100% !important;
    }
    .modal-dialog-height {max-height: 100% !important;}
    .badge-event {
        width:260px;
        height:60px;
        line-height:50px;
    }
    .card-position-150 {position:relative; top:-150px;}
    .card-position-190 {position:relative; top:-190px;}
    .r-left-0 {
        -webkit-border-top-left-radius: 0px !important;
        -webkit-border-bottom-left-radius: 0px !important;
        -moz-border-radius-topleft: 0px !important;
        -moz-border-radius-bottomleft: 0px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .r-right-0 {
        -webkit-border-top-right-radius: 0px !important;
        -webkit-border-bottom-right-radius: 0px !important;
        -moz-border-radius-topright: 0px !important;
        -moz-border-radius-bottomright: 0px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
    
}
  
/*------------------------------------
	Carousel
------------------------------------*/
.carousel-padding-top {
    padding-top:80px;
}
.carousel-indicators-h {
    position:relative;
    display:flex;
    width:100%;
}
.carousel-indicators-h li {
    height:50px;
    list-style-type: none;
    padding:10px;
    cursor:pointer;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-captions-c {
    right:5%;
    left:5%;
}

/*------------------------------------
	Footer
------------------------------------*/
.footer-note {
    font-size:11px;
    color:#92939a;
}
.row-f-bottom {
    background-color: #1b1d27;
    padding-top:40px;
    padding-bottom:15px;
}

/*------------------------------------
	Sprite Icons
------------------------------------*/
.icon-try-career {
    width: 18px;
    height: 17px;
    background: url('../img/cmn/icon-sprite.png') -26px -28px;
}
.icon-campaigns {
    width: 18px;
    height: 17px;
    background: url('../img/cmn/icon-sprite.png') -76px -28px;
    padding-left:15px;
}
.icon-isk {
    width: 70px;
    height: 37px;
    background: url('../img/cmn/icon-sprite.png') -25px -67px;
    margin-right:25px;
}
.icon-apply-job-posting {
    width: 26px;
    height: 33px;
    background: url('../img/cmn/icon-sprite.png') -122px -19px;
    margin-right:5px;
}
.icon-cv {
    width: 26px;
    height: 33px;
    background: url('../img/cmn/icon-sprite.png') -172px -19px;
    margin-right:5px;
}
.icon-improve-yourself {
    width: 26px;
    height: 33px;
    background: url('../img/cmn/icon-sprite.png') -222px -19px;
    margin-right:5px;
}
.icon-love {
    width: 19px;
    height: 19px;
    background: url('../img/cmn/icon-sprite.png') -276px -26px;
}
.icon-love-position {
    position:absolute;
    right:45px;
    margin-top:10px;
    z-index: 10;
}
.icon-notification {
    width: 16px;
    height: 19px;
    background: url('../img/cmn/icon-sprite.png') -326px -26px;
}
.icon-career-tool-1 {
    width: 219px;
    height: 120px;
    background: url('../img/cmn/icon-sprite.png') -10px -110px;
}
.icon-career-tool-2 {
    width: 113px;
    height: 120px;
    background: url('../img/cmn/icon-sprite.png') -260px -110px;
}
.icon-career-tool-3 {
    width: 173px;
    height: 120px;
    background: url('../img/cmn/icon-sprite.png') -410px -110px;
}
.icon-career-tool-4 {
    width: 158px;
    height: 120px;
    background: url('../img/cmn/icon-sprite.png') -610px -110px;
}
/* Menu Icons Start */
.icon-menu-slct {
    width: 15px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -76px -269px;
}
.icon-menu-slct:hover {
    width: 15px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -76px -269px;
}
.icon-star {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -119px -269px;
}
.icon-star:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -169px -269px;
}
.icon-case {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -219px -269px;
}
.icon-case:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -269px -269px;
}
.icon-edu {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -319px -269px;
}
.icon-edu:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -369px -269px;
}
.icon-calendar {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -419px -269px;
}
.icon-calendar:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -469px -269px;
}
.icon-certificate {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -519px -269px;
}
.icon-certificate:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -569px -269px;
}
.icon-companies {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -619px -269px;
}
.icon-companies:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -669px -269px;
}
.icon-academia {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -719px -269px;
}
.icon-academia:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -769px -269px;
}
.icon-application {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -19px -319px;
}
.icon-application:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -69px -319px;
}
.icon-career-goal {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -119px -319px;
}
.icon-career-goal:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -169px -319px;
}
.icon-favorites {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -219px -319px;
}
.icon-favorites:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -269px -319px;
}
.icon-notification-menu {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -319px -319px;
}
.icon-notification-menu:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -369px -319px;
}
.icon-settings {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -419px -319px;
}
.icon-settings:hover {
    width: 32px;
    height: 32px;
    background: url('../img/cmn/icon-sprite.png') -469px -319px;
}
/* End Menu Icons */

/*------------------------------------
	Homepage Customs
------------------------------------*/
.date-month {font-size:12px; line-height:12px;}
.date-day-num {color:#242734; font-size:28px; font-weight:bold; line-height:28px;}
.date-day {color:#242734; font-size:11px; line-height:11px;}
